.p-box {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 450px;
    width: 1240px ;
    background: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_featured_artists-8081257b.jpg) 50%/cover no-repeat;
}

.c1-box {
    justify-content: space-evenly;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: flex;
}
.p-heading {
    color: white;
    padding: 20px;
}
#modal-modal-title {
    margin-bottom: 10px;
}

.fb-btn {
    width: 100%;
    background-color: #3578e5;
    border-color: #3578e5;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 18px;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.go-btn {
    width: 100%;
    background-color: #fff;
    border-color: #ccc;
    color: #222;
    font-size: 16px;
    height: 40px;
    line-height: 18px;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.ap-btn {
    width: 100%;
    background-color: #000;
    border-color: #000;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 18px;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.auth-method-separator {
    font-size: 20px;
    font-weight: 400;
    margin: 1em auto;
    position: relative;
    text-align: center;
}
/* ===========Slider Component Css =========== */

.main-slider-contianer{
    width: 90%;
    height:305px;
    position:relative;
    display:flex;
    align-items:center;
}
.slider{
    width:100%;
    height:100%;
    white-space:nowrap;
    overflow-x:scroll;
    scroll-behavior : smooth;
    scrollbar-width:none;
}
.slider::-webkit-scrollbar{
    display:none;
}

.slider-icon.left , .slider-icon.right{
    background:white;
    border-radius:100%;
    position:absolute;
    opacity: 0.2;
    box-shadow: 5px 5px 1.25rem 0px rgb(0 0 0 / 12%);
    cursor:pointer;
    z-index: 1;
}
.slider-icon.left{
    left:0;
    
}
.slider-icon.right{
    right:0;
}
.slider-icon.left:hover , .slider-icon.right:hover{
    opacity:1;
}
.slider-card-image{
    width:100%;
    height:210px;
    background:grey;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.slider-card-title{
      font-weight: 500;
      white-space: pre-wrap;
      font-size: 0.625rem;
      padding: 0.5rem;
      margin: 0px 0px 0.313rem 0.625rem;
}

.slider-card-description{
        opacity: 0.5;
        font-size: 0.625rem; 
        margin: 0px 0px 0.313rem 0.625rem;
}
